* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

section {
  padding: 2rem 4rem;
  text-align: center;
}

.new-year-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-section h2 {
  color: red;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.offer-section p {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.offer-section h4{
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.offer-section img{
  width: 45%;
  height: 45%;
  margin-top: 1.5rem;
}

.welcome-imgbg-container{
  background-image: url(./images/Vectorrr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 500px; */
  width: 100% ;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.5rem;
  text-align: left;
}

.welcome-imgbg-container-left h2{
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
}

.welcome-imgbg-container-left p{
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.welcome-imgbg-container-left button{
  border: none;
  background: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}

.welcome-imgbg-container-right img{
  height: 100%;
  width: 100%;
}